
:::: {.grid .text-center .list}

<% for (const item of items) { %>

:::: {.g-col-12 .g-col-sm-6 .g-col-md-4 <%= metadataAttrs(item) %>}

:::: {.quarto-grid-item}

:::: {.card-body .post-contents}

::::: {.listing-image}
```{=html}
<img src="<%= item.image %>" alt="Listing image" class="card-img-top"/>
```
:::

:::: {.card-title .listing-title}
<a class="mono-link" href="<%= item.href %>" style="text-decoration:none;">
  <h2 style="text-align:left;"> <%= item.title %> </h2>
</a>
:::

:::: {.card-text .listing-description}
<p style="text-align:left;"> <%= item.description %> </p>
:::

:::: {.card-text .listing-link}
<a class="mono-link" href="<%= item.href %>">
  <p style="text-align:left;">Read More -></p>
</a>
:::

:::
:::
:::

<% } %>

:::