<%
  <!-- Move "under-construction" items to the end of the listing --->
  const sorted_items = items.sort((x, y) => {
    const x_under_constuction = x.categories.includes("under-construction");
    const y_under_constuction = y.categories.includes("under-construction");
    return x_under_constuction - y_under_constuction;
  });
%>

:::: {.grid .text-center .list}

<% for (const item of sorted_items) { %>

:::: {.g-col-12 .g-col-sm-6 .g-col-md-4 <%= metadataAttrs(item) %>}

:::: {.quarto-grid-item}

:::: {.card-body .post-contents}

::::: {.listing-image}
```{=html}
<img  
  src="<%= item.image %>" 
  alt="Listing image" 
  class="card-img-top"
  onclick="window.open('<%= item.git %>', '_blank')"
  style="cursor: pointer;"
/>
```
:::

:::: {.card-title .listing-title}
<h2 style="text-align:left;"> <%= item.title %> </h2>
:::

:::: {.card-text .listing-description}
<p style="text-align:left;"> <%= item.description %> </p>
<% if (item.categories && item.categories.includes("under-construction")) { %>
<p style="text-align:left;">⚠️ In Very Early Development ⚠️</p>
<% } %>
:::

:::: {.card-text .listing-link}
<a class="mono-link" href="<%= item.path %>">
  <p style="text-align:left;">Read More -></p>
</a>
:::

:::
:::
:::

<% } %>

:::